.cart-page {
  padding: 30px;
}

.cart-item {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.cart-item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.cart-item button {
  width: 35px;
  height: 35px;
  margin: 5px;
}