body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Arial;
}

.container{
    text-align:center;
}

input,
button{
    padding:10px;
    margin:10px;
}

#display{
    font-size:50px;
}